
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a:focus {
    outline: 2px solid rgb(228, 141, 206); 
}

::selection{
    background-color: rgb(230, 190, 211);
}


@media (width > 38em) {
    figure {
        display:grid;
        grid-template-columns:16em 1fr;
        gap:1em;
      }
    }



body {
    margin: 0;
    position: relative;
}


header img:first-of-type {
    padding-top: 2em;
    max-width: 20%; 
    height: 7em;
    order: 2;
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
}

header img:last-of-type {
    display: grid;
    max-height: 3em;
    order: 3;
    margin-left: 5em;
}



header{
    display: flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    z-index: 100%;
    width: 100%;

}

header p{
    display: grid;
    order: 4;
    font-size: 1em;
}


header nav{
    display: grid;
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    translate: -100% 0%;
    transition:translate 0.3s;
}

header ul li{
    list-style-type: none;
    color: black;
    margin-top: 2em;
    font-weight: bolder;
    font-size: 2;
}

header a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    margin-top: 3em;
    font-weight: bolder;
    font-size: 2;
}



nav.toonMenu {
    translate: 0% 0%;
}

header button{
    height: 3em;
    order: -1;
    margin-top: 1em;
    margin-right: 2em;
    background-color: transparent;
    font-weight: bold;
    border: 0;
    font-size: 1em;
    position: sticky;
    padding: 0;  
}


main img {
    display: flex;
    width: 100%; 
    height: auto;
    margin-bottom: 0;
    transition: none !important;
}

form {
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 1vh;
    max-width: 100%;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
      
}

form input {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 1em;
    text-align: right;
    background-color: transparent;
    color: white;
}


footer{
    text-align: center;
}

footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

footer a{
    text-decoration: none;
    color: black;
}


footer ul li{
    display: inline;
    margin-right: 15px;
}

li a:hover {
    text-decoration: underline ; 
}

/*PAGINA 2*/

.page2 body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pagina2 header{
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    background-color: white;
}

.knittop {
 justify-content: center;
 display: flex;
 width: 40%;
 flex-direction: column;
 margin-left: auto;
 margin-right: auto;
 margin-top:10% ;
}


.informantieartikel{
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border: 1.5px solid black;
    padding: 10px;
    flex-direction: column;
}


h1{
    font-size: 1.7em;
}

h2, h3{
    font-size: 1em;
    padding-top: 20px;
}


p{
    font-size: 1em;
    padding-top: 20px;
}

.naamartikel{
    display: flex;
    margin: 0;
}

button{
    margin-top: 20px;
    font: .5em;
    padding: 4px;
    text-align: center;
}

.heart{
    align-items: center;
    font-size: 2em;
    border: 0;
    background-color: transparent;
    margin: 0;
    padding: 0%;
    border: 0;
}


.materiaal{
    font-size: .9em;
    text-decoration: none;
    list-style-type: none;
}


.last{
    display: grid;    
    flex-wrap: wrap;
    
}

.lasttext{
    font-size: .8em;
    margin-top: 10px;
    margin-left: 35px;
    margin-bottom: 10px;
    display: block;
    
}


.lastimg {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.lastimg img {
    max-width: 20%; 
    height: auto; 
    border: solid 1px black;
    margin: 0%;
    transition:.2s;
}

.lastimg img:hover{
    transform: scale(1.2);
}

.knittop img:hover{
    transform: scale(1.2);
}


.footerpagina2{
    margin-top: 1em;
    font-size: 1.5em;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

